*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(216, 217, 218);
}
.box2 {
    margin:0;
    padding:10em;
    background-image: url('deca1.jpg');
    height: 500px;
    background-size: cover;
    background-position:center;
}

.box2 h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:thin;
    margin-bottom:15px;
}
.box2 h2{
    text-align:center;
    color:white;
    background-color: #00529B;
    background-blend-mode:color-burn;
    padding:0;
}
.box1{
    background-color:#00529B;
    margin:0;
    background-size: cover;
    background-position:center;

}

.body{
    font-family:'Montserrat', sans-serif;
}
.in1{
    margin:20px;
    width:30%;
    height:30px;
    font-size: 15px;
    letter-spacing: 0.1em;
    border:none;
    background:transparent;
    border-bottom:lightslategray 5px solid;
    color:white;
}
.in2{
    margin-top:10px;
    width: 15%;
    font-size: 15px;
    font-weight: bold;
    color:black;
    letter-spacing:0.1em;
    border-radius:15px;
    background-color:white;
    padding: 5px 2px;
}
.in2:hover{
  background-color:rgb(198, 200, 202);  
}
.form{
    text-align:center;
    color:white;
    margin:20px;
}

